<form [formGroup]="form" (ngSubmit)="submit()">
  <button type="submit" class="hidden"></button>
  <div class="grid gap-5">
    <div class="w-full">
      <label for="title" class="inline-block mb-2 text-base font-medium">
        {{ 'title' | translate | titlecase }} <span class="text-red-500">*</span>
      </label>
      <input
        type="text"
        id="title"
        formControlName="title"
        class="form-control form-input"
        [placeholder]="'placeholders.input-field' | translate: { field: 'attributes.title' | translate }"
        maxlength="255"
      />
      @if (form.get('title')?.hasError('required') && form.get('title')?.touched) {
        <div class="mt-1 text-sm text-red-500">{{ 'validation.required' | translate }}</div>
      } @else if (form.get('title')?.hasError('maxLength') && form.get('title')?.touched) {
        <div class="mt-1 text-sm text-red-500">{{ 'validation.max-length' | translate: { max: 255 } }}</div>
      }
    </div>
    <!--end col-->
  </div>
</form>
